/* being careful as to were it is applied and so on */
/* Homepage tags:

Classes:
nav-list
nav-item
section-title
course-item
course-image
submit-button
footer-content
course-list

IDs:
main-header
logo
main-nav
content
courses
register
registration-form
search-courses
search-form
course-list
privacy-policy
terms-of-service
main-footer

*/

/* 
common eleements in css 
*/

#courses {
    padding: 20px;
    background-color: #f4f4f4;
    position: relative;
}

#register {
    padding: 10px 10px 10px 10px;
    position: relative;
    background-color: #f4f4f4;
}